h1{
    font-size: 25px;
    color: brown;
    background-color: black;
}
li{
    color: blue;

}
a{
    color:blue;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;

}
.Foto_Juanin{
    width: 150px;
    height: 150px;
}